.menue{margin-bottom: 10%;
    margin-top: 2%;
border-color: transparent;
padding-bottom: 20px;
padding-top: 20px;
width: 100%;
margin-left: ;}


nav {
    display: flex;
    gap: 0.2rem;
    border-radius: 50%;
  
}

a {
    flex: 1;
    color: #222;
    font-size: 12px;
    font-weight: 300;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
  }



a:hover,
a:focus {
  background-color: #555;
  color: white;
}

.container{
    position: relative;
    width: 100%; 
    height:  100%;
    background-color:   #f9f9ff;
    padding: 2%;
    padding-left: 200px;}
   

.welcome {
 
   position: inherit;
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 1px;
   max-width: 1920px;
   max-height: 1080px;
   
 
    
}


.welcome_content {   
    position: inherit;
    flex-wrap: nowrap;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    max-width: 900px;
    max-height: 1080px;
    
   }




p {
    font-family: Arial;
    font-size: medium;
    max-width: 1080px;
    margin-left: 15%;
    margin-top: 5%;
 
}



.article_container{
   
    background-color: lightgreen;
    align-items: baseline;
    justify-content: center;
    max-block-size: none;
    
    
}
.articles {
display: flex;
flex-direction: row;
align-items: baseline;
1
background-color: white ;
opacity: 90%;

}

.post{
    background-color: aliceblue;
    font-weight: 900;
    font-size: medium;
    position: relative;
    left: 10%;
    padding: 50px;
    margin: 8px 10px 10px;
    max-width: 250px;
    border: 1px;
    border-radius: 10%;
    border-color: grey;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
    #post_header{
        font-size: large;
        font-family: 'Times New Roman', Times, serif;
               
    }

    #post_description{
        font-size: medium;
        
        
    }